body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #43cea2, #185a9d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  width: 330px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  text-align: center;
}

h1 {
  margin-bottom: 5px;
  color: #222;
}

p {
  color: #666;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 11px;
  margin: 7px 0;
  border: none;
  border-radius: 10px;
  background-color: #43cea2;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2bbf93;
}
