*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#121212;
    color:#ffffff;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#00e5ff;
}


#output{
    background:#1e1e1e;
    padding:20px;
    border-radius:10px;
    line-height:1.8;
}

span{
    color:#ffcc00;
}