body {
  font-family: Arial;
  background: #e6f0ff;
}

.box {
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px #aaa;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  margin-top: 15px;
  font-weight: bold;
}
